---
// import Analytics from '@vercel/analytics/astro'

import type { SiteMeta } from 'astro-pure/types'
import BaseHead from '@/components/BaseHead.astro'

import { Footer, Header, ThemeProvider } from '../../packages/pure/components/basic'
// import config from '@/site-config'
import configEn from '../site.config'
import configEs from '../site.config.es'

import '@/assets/styles/app.css'

interface Props {
  meta: SiteMeta
  highlightColor?: string
}

const locale = Astro.url.pathname.startsWith('/es') ? 'es' : 'en'
const config = locale === 'es' ? configEs : configEn
const {
  meta: { articleDate, description = config.description, ogImage, title },
  highlightColor
} = Astro.props
---

<html lang={locale}>
  <head>
    <BaseHead {articleDate} {description} {ogImage} {title} />
    <!-- <Analytics /> -->
    <ThemeProvider />
  </head>

  <body class='flex justify-center bg-background text-foreground'>
    {
      highlightColor && (
        <div
          id='highlight-gradient'
          class='pointer-events-none absolute start-0 top-0 z-0 h-screen w-full opacity-25'
          style={`background-image:linear-gradient(${highlightColor},transparent)`}
        />
      )
    }
    <div class='w-full max-w-[70rem] px-4 sm:px-7 lg:px-10'>
      <Header locale={Astro.url.pathname.startsWith('/es') ? 'es' : 'en'} />

      <slot />
      <Footer />
    </div>

    {/* Set highlight color */}
    <style define:vars={{ highlightColor }}>
      :global(.highlight) {
        color: var(--highlightColor, hsl(var(--primary) / var(--un-text-opacity))) !important;
      }
      :global(.highlight-bg) {
        background-color: var(
          --highlightColor,
          hsl(var(--primary) / var(--un-text-opacity))
        ) !important;
      }
    </style>
  </body>
</html>
